[submodule "frontend-tests/infrastructure"]
	path = frontend-tests/infrastructure
	url = https://github.com/7-3-N-3-7/infrastructure.git
[submodule "backend-tests"]
	path = backend-tests
	url = https://github.com/73N37/backend-tests.git
[submodule "frontend-tests"]
	path = frontend-tests
	url = https://github.com/73N37/frontend-tests.git
[submodule "governance"]
	path = governance
	url = https://github.com/73N37/governance.git
