services:
  zitadel:
    image: ghcr.io/zitadel/zitadel:latest
    command: 'start-from-init --masterkey "${ZITADEL_MASTER_KEY}" --tlsMode external'
    environment:
      - ZITADEL_DATABASE_COCKROACH_HOST=${DB_HOST}
      - ZITADEL_DATABASE_COCKROACH_PORT=5432
      - ZITADEL_DATABASE_COCKROACH_USER=${DB_USER}
      - ZITADEL_DATABASE_COCKROACH_PASSWORD=${DB_PASSWORD}
      - ZITADEL_DATABASE_COCKROACH_SSL_MODE=disable
    ports:
      - "8080:8080"
    restart: always
    networks:
      - internal

  caddy:
    image: caddy:latest
    command: caddy reverse-proxy --from https://${DOMAIN} --to http://zitadel:8080
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    restart: always
    networks:
      - internal

volumes:
  caddy_data:
  caddy_config:

networks:
  internal:
    driver: bridge
